.wallet-container {
    width: 40%;
    margin-right: 1rem;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.wallet-top {
    display: flex;
    justify-content: space-between;
}

.home-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}