.svg{
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
  
.svg-circle-bg {
    fill: none;
}
  
.svg-circle {
    fill: none;
}

.svg-circle-text {
    text-anchor: middle;
    fill: #F7CE50;
    font-weight: bold;
}
  