/* buat general css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  /* temporary, dibuka kalo bingung css */
  box-sizing: border-box;
  border-color: black;
  /* border-width: 2px; */
  font-family: "Poppins", sans-serif;
  /* temporary, dibuka kalo bingung css */
}

.card {
  align-items: center;
  box-shadow: 3px 3px 4px#929292;
  border-radius: 50px;
  width: fit-content;
}